body {
    text-align: center;
    align-items: center;
    padding: 40px 0;
    background: #EBF0F5;
  }
    h1 {
      color: #88B04B;
      font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      font-weight: 900;
      font-size: 40px;
      margin-bottom: 10px;
    }
    p {
      color: #404F5E;
      font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      font-size:20px;
      margin: 0;
    }
  i {
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    margin-left:-15px;
  }
  .card {
    background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    display: inline-block;
    margin: 0 auto;
  }

  .home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    margin-top: 50px;
    background-color: #88B04B;
    border-radius: 10px;
  }

  .home button{
    height: 60px;
    width: 100%;
    background-color: #88B04B;
    border: none;
    border-radius: 10px;
  }

  .home button:hover{
    background-color: #7aaa31;
    cursor: pointer;
  }

